body{
  /* background-color: #c1bdba; */
  font-family: 'Titillium Web', sans-serif;

}
.form {
  background-color: #13232f;
  /* padding-top: 40px; */
  max-width:500px;
  /* margin:30px auto; */

  box-shadow:0 4px 10px 4px;
  
}
.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px -11px;
  display: flex;
  font-weight:600;
}
.tab {
  padding: 16px 94px;
  /*margin: 20px;*/
  border: 2px solid white;
  /*font-size: 14px;*/
  background-color: #1ab188;
}
a{
  color: white;
  text-decoration: none;
}
a:hover {
    color:black;
  }
.field-wrap{
  position:relative;
  display: inline-grid;
  margin-bottom:40px;
}
.top-row{
  display: flex;
  justify-content: space-between;
}
.tab-content{
font-size: 20px;
}
.req{
  font-size: 18px;
  color: red;
    margin:2px;
}
.box-size{
  font-size: 20px;
}
.bl{
  width: 340px;
  
}
.button-block {
  display:block;
  width:auto;
  min-width: 500px;
  margin-top: -15px;
  
}
.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color:#ffffff;
  /* padding-bottom: 45px; */
  
 
}
label {
  left:13px;
  color:white;
  font-weight: 800;
  font-size:22px;
}
h1 {
  text-align:center;
  color:white;
  font-weight:300;
  margin:0 0 40px;
}